@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JejuHallasan';
  src: url('/fonts/JejuHallasan-Regular.ttf') format('truetype'); 
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #1D1F21;
  color: #FFFFFF;
  font-family: JejuHallasan;
}

body::-webkit-scrollbar {
  width: 0;
}

nav::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(90deg, transparent, #FF6600);
  animation: moveLine 2.6s linear infinite;
}

@keyframes moveLine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}